//-Created By Istvan
doctype
html
  head
    title= hu.title
    link(rel='stylesheet', href='/style.css')
    script(src='/functions.js')
  body
    h1= hu.title
    table(align='center')
      tr
        td(id='time')
    p= chooseone
    ul
      li(onclick='toggleFullscreen()')= fullscreen
      li(onclick="changelang('en')")= toeng
      li(onclick="changelang('hu')")= tohun
      li(onclick='changeclient(1)')= toplayer1
      li(onclick='changeclient(2)')= toplayer2
      li(onclick='hint(1)')= givehint1
      li(onclick='hint(2)')= givehint2
      li(onclick='stop(1)')= stop1
      li(onclick='stop(2)')= stop2
      li(onclick='inic()')= inicgame
      li(onclick='start()')= startgame
      li(onclick='pause()')= pausegame
      li(onclick='inconemin()') Novel 1 perccel
      li(onclick='deconemin()') Csokkent 1 perccel
      li(onclick='getmyip()')= getmyip
    p(id='message')
    p(id='version')= hu.version
      span= version
    

