//-Created By Istvan
doctype
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
    script(src='/functions.js')
  body
    div(id='server')
      h1= title
      p= chooseone
      ul
        li(onclick='toggleFullscreen()')= fullscreen
        li(onclick="changelang('en')")= toeng
        li(onclick="changelang('hu')")= tohun
        li(onclick='changeclient(1)')= toplayer1
        li(onclick='changeclient(2)')= toplayer2
        li(onclick='hint(1)')= givehint1
        li(onclick='hint(2)')= givehint2
        li(onclick='stop(1)')= stop1
        li(onclick='stop(2)')= stop2
        li(onclick='start()')= startgame
        li(onclick='pause()')= pausegame
        li(onclick='increase(5)')= increase5
        li(onclick='getmyip()')= getmyip
      p(id='message')
      p(id='version')= version
    div(id='client' class='centered')
      table(width='80%', align='center')
        tr
          td(colspan=8, id='clock', class='hint') -
        tr
          td(id='d5', class='digit') 0
          td(id='d4', class='digit') 1
          td(id='c1', class='colon') :
          td(id='d3', class='digit') 2
          td(id='d2', class='digit') 3
          td(id='c0', class='colon') :
          td(id='d1', class='digit') 4
          td(id='d0', class='digit') 5
        tr
          td(colspan=4,class='hint')= myhints
          td(class='hint', id='myhint') -
          td(colspan=3)
        tr
          td(colspan=4, class='hint right')= opponenthints
          td(class='hint', id='opponenthint') -
          td(colspan=3)
    div(id='translations')
      div(id='hintgiven')= hintgiven
      div(id='noconnection')= noconnection
    

